#nav-esquerda{
    
    display: flex;
    flex-direction: row;
    height: 700px;
    width: 70%;
    

    #container-esquerda{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        width: 150px;
        
    }
   
    
    
    ul{
        list-style: none;
        padding-top: 150px;
        li{
            padding-left: 20px;
            font-size: 12px;
            
        }     
        a{
            color: rgb(0, 0, 0);
        }   
    }
    
    #products-category{
        ul{
            margin-top: 50px;
        }
        li{
            padding: 10px 0;
            color: rgb(104, 102, 102);
            font-size: 12px;
            label{
                cursor: pointer;
                
            }

            #women-h, #men-h, #shoes-h, #brand-h{
                opacity: 0;
            }
        }

    }

    #social-media{
        margin-left: 50px;
    }

    #conteudo-centro{
        display: flex;
        justify-content: center;
        flex-direction: column;   
        margin-left: 150px;

        

        #container-barra{
            
            #barraprevious{
                @extend #barra;
                transform: translateX(55px);
                position: relative;
                
                
                
                
                
               
                
            }
            #previoustx{
            
            
                @extend #barratx;
                margin-left: 10px;
                transform: translate(35px, 100px);
                position: absolute;
                
                
                
                
    
                &:hover ~ #barraprevious{
                    box-sizing: content-box;
                    background-color: rgb(207, 210, 212);
                    margin-left: -20px;
                    width: 92px;
                    z-index: 0;
                    
                    
                    
                    
                }
                
            }
        }
       
        
        
       
        h1{
            color: $laranja;
            padding-bottom: 10px;
        }
        p{
            font-weight:bolder ;
            padding-bottom: 10px;
        }

        //posicionando os h1 e p

        #t-shirts{
            opacity: 0;
            margin-left: -100px;
            transform: translateY(100px);
        }

        #jacket{
            margin-left: -100px;
            transform: translateY(-130px);
            opacity: 0;
        }
        #shoes{
            margin-left: -100px;
            transform: translateY(-200px);
            opacity: 0;
        }
        #brand{
            margin-left: -100px;
            transform: translateY(-280px);
            opacity: 0;
        }

        

       
    }
    
}




